<div class="new-game">
  <div tuiTitle="m" class="form-header">
    Start a New Game
  </div>

  <div class="form-container">
    <form [formGroup]="gameForm">
      <p>
        <tui-input
          formControlName="username"
          [tuiTextfieldCleaner]="true">
          Username
          <input
            tuiTextfieldLegacy/>
        </tui-input>
      </p>
      <p>
        <tui-input-number
          formControlName="maxRoundDurationInSecs"
          tuiTextfieldPostfix="secs">
          Max Round Duration
          <input tuiTextfieldLegacy/>
        </tui-input-number>
      </p>
      <p>
        <tui-input-number
          formControlName="maxIntervalBetweenRoundsInSecs"
          tuiTextfieldPostfix="secs">
          Max Interval Duration
          <input tuiTextfieldLegacy/>
        </tui-input-number>
      </p>
      <p>
        <tui-input-tag
          formControlName="columns"
          [uniqueTags]="true"
          [tuiTextfieldLabelOutside]="true">
          Column Names
        </tui-input-tag>
      </p>
      <p>
        <tui-input-tag
          [uniqueTags]="true"
          [tuiTextfieldCleaner]="true"
          formControlName="characterSet"
          [tuiTextfieldLabelOutside]="true">
          Characters
        </tui-input-tag>
      </p>

      <button
        type="submit"
        class="ws-button"
        [disabled]="gameForm.invalid"
        (click)="createGame()">
        Submit
      </button>
    </form>
  </div>
</div>
