.app {
  padding-top: 1.2rem;

  h2 {
    text-align: center;
    cursor: pointer;
  }

  .main {
    height: calc(100vh - 14.5rem);
  }

  .footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
