<div class="page">
  <div class="container">
    <div class="page-header">Page Not Found (404)</div>
    <div class="page-sub-header">Oops! The page you're looking for doesn't exist.</div>
    <div class="page-content">
      It seems you've hit a dead end. Here's what you can do:

      <ul>
        <li><span>Check the URL:</span> Make sure the address is correct.</li>
        <li><span>Go Back:</span> Return to the previous page.</li>
        <li><span>Visit Home:</span> Head to our <a routerLink="/">homepage</a> and start fresh.</li>
      </ul>
    </div>
    <p class="page-contact-text"> If the issue persists, feel free to contact us. </p>
  </div>
</div>
