<ng-container *ngIf="!isGameActive">
  <div class="active-game-awaiting">
    <div class="header">
      Game On: Awaiting Players
    </div>

    <div class="section-prompt">
      Ask players to join this game using the link below:
    </div>

    <div class="invite-container">
      <span>{{ joinGameUrl }}</span>
      <button tuiIconButton
              size="s"
              appearance="opposite"
              iconStart="@tui.copy"
              (click)="copyGameUrl()">
        Copy
      </button>
    </div>

    <div class="section-prompt">Players:</div>

    <div class="players-container">
      <ng-container *ngFor="let player of game().players; let i = index">
        <div class="player">
          <div class="avatar" [ngStyle]="{'background-color': avatarColour(i)}">
            <img ngSrc="/icons/user.png" height="512" width="512" alt="Generic game player avatar"/>
          </div>

          <span>
            {{ player.userName }}
          </span>

          <ng-container *ngIf="player.userName === game().initiatedBy">
            <tui-chip
              size="xs"
              appearance="admin">
              admin
            </tui-chip>
          </ng-container>

          <ng-container *ngIf="player.userName === currentUserName()">
            <tui-chip
              size="xs"
              appearance="user">
              you
            </tui-chip>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="ws-divider"></div>

    <div class="action">
      <ng-container *ngIf="isGameAdmin">
        <button class="ws-button"
                [disabled]="game().players?.length < 2"
                (click)="startGame()">
          <tui-loader [showLoader]="isLoading">
            Start Game
          </tui-loader>
        </button>
      </ng-container>
      <ng-container *ngIf="!isGameAdmin">
        <div>Ask the game admin to start the game</div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isGameActive">
  <div class="active-game-active">
    <div class="header">
      Game On: <i>{{ currentUserName() }}</i>!!
    </div>

    <div>
      This round is led by <i>{{ gameState.currentPlayer }}</i>.
      <span *ngIf="currentIntervalCountdown > 0">They have {{ currentIntervalCountdown }} seconds to choose the character to be played</span>
    </div>

    <div class="ws-divider"></div>

    <table>
      <thead>
      <tr>
        <th class="char">
          Character
        </th>
        <ng-container *ngFor="let column of game().columns">
          <th>
            {{ column }}
          </th>
        </ng-container>
        <th class="score">
          Score
        </th>
        <th class="score">
        </th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let char of game().characterSet">
        <tr wsGameRoundRow
            [ngClass]="{'disabled-row': !isRowPlayable(char), 'played-row': isRowPlayed(char)}"
            [character]="char"
            [columns]="game().columns"
            [enabled]="isRowPlayable(char)">
          <td>
            <ng-container *ngIf="isRowPlayable(char)">
              <button
                tuiIconButton
                size="m"
                iconStart="@tui.send-horizontal"
                (click)="showRoundConfirmationModal()">
              </button>
            </ng-container>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-template [(tuiDialog)]="isCharacterSelectionModalVisible">
  <div class="modal">
    <div class="header">Choose Round Character</div>
    <div class="preamble">
      Choose the character for this round. You have to make a choice in
      <span>{{ currentIntervalCountdown }}</span>
      seconds otherwise a random choice will be made for you
    </div>

    <form>
      <tui-select
        tuiTextfieldSize="m"
        [formControl]="characterControl">
        Character
        <input
          tuiTextfieldLegacy
          name="ws-round-character"/>
        <tui-data-list-wrapper
          *tuiDataList
          [items]="availableCharacters"/>
      </tui-select>

      <div class="actions">
        <button
          type="button"
          class="ws-button"
          [disabled]="characterControl.invalid || isLoading"
          (click)="startRound()">
          <tui-loader [showLoader]="isLoading">
            Start Round
          </tui-loader>
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template [(tuiDialog)]="isRoundSubmissionModalVisible">
  <div class="modal">
    <div class="header">Submit Round Entry</div>
    <div class="preamble">
      You still have <span>{{ currentRoundCountdown }}</span>
      seconds left in this round. Are you sure you want to submit your results now? If you proceed, you will no longer
      be able to modify them.
    </div>

    <div class="actions">
      <button
        type="button"
        class="ws-button">
        Yes, Submit
      </button>
      <button
        type="button"
        class="ws-button outline"
        (click)="dismissRoundConfirmationModal()">
        No, Cancel
      </button>
    </div>
  </div>
</ng-template>
