.active-game {
  width: 45%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  .container {
    border: 0.1rem solid #BABABA;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
  }
}
