<ng-container *ngIf="!gameStarted">
  <div class="active-game-awaiting">
    <div class="header">
      Game On: Awaiting Players
    </div>

    <div class="section-prompt">
      Ask players to join this game using the link below:
    </div>

    <div class="invite-container">
      <span>{{ joinGameUrl }}</span>
      <button tuiIconButton
              size="s"
              appearance="opposite"
              iconStart="@tui.copy"
              (click)="copyGameUrl()">
        Copy
      </button>
    </div>

    <div class="section-prompt">Players:</div>

    <div class="players-container">
      <ng-container *ngFor="let player of game.players; let i = index">
        <div class="player">
          <div class="avatar" [ngStyle]="{'background-color': avatarColour(i)}">
            <img ngSrc="/icons/user.png" height="512" width="512" alt="Generic game player avatar"/>
          </div>

          <span>
            {{ player.userName }}
          </span>

          <ng-container *ngIf="player.userName === game.initiatedBy">
            <tui-chip
              size="xs"
              appearance="admin">
              admin
            </tui-chip>
          </ng-container>

          <ng-container *ngIf="player.userName === currentUserName">
            <tui-chip
              size="xs"
              appearance="user">
              you
            </tui-chip>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <div class="ws-divider"></div>

    <div class="action">
      <ng-container *ngIf="userInitiatedGame">
        <button class="ws-button"
                [disabled]="game.players?.length < 2"
                (click)="startGame()">
          <tui-loader [showLoader]="isLoading">
            Start Game
          </tui-loader>
        </button>
      </ng-container>
      <ng-container *ngIf="!userInitiatedGame">
        <div>Ask the game admin to start the game</div>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="gameStarted">
  <div class="active-game-active">
    <div class="header">
      Game On: <i>{{ currentUserName }}</i>!!
    </div>

    <div>
      This round is led by <i>{{ gameState.currentPlayer }}</i>.
      <span *ngIf="currentIntervalCountdown > 0">They have {{ currentIntervalCountdown }} seconds to choose the character to be played</span>
    </div>

    <div class="ws-divider"></div>

    <table
      tuiTable
      size="l"
      [columns]="game.columns">
<!--      <thead tuiHead>-->
<!--      <tr tuiThGroup>-->
<!--        <ng-container *ngFor="let column of game.columns">-->
<!--          <th-->
<!--            *tuiHead="column">-->
<!--            {{ column }}-->
<!--          </th>-->
<!--        </ng-container>-->
<!--      </tr>-->
<!--      </thead>-->
    </table>
  </div>
</ng-container>
