<div class="how-to">
  <div tuiTitle="m" class="instructions-header">
    Instructions
  </div>
  <ul>
    <li>🏆 The objective of the game is to be the player with the most points at the end</li>
    <li>🕒 The game is divided into rounds based on the number of characters in the chosen set</li>
    <li>👥 Each player gets a turn and for each turn gets to choose a letter/character to be played</li>
    <li>📝 When a letter is selected, all players have to write in words starting with the chosen character
      corresponding to the columns listed
    </li>
    <li>⏱️ Speed is of the essence as you need to fill your entries in before the timer runs out or the round author
      ends the round
    </li>
    <li>👨‍🏫 After each round, the player whose turn it is gets to grade all entries</li>
    <li>🎉 <b>Unique</b>, <b>valid</b> entries get 10 points, while <b>duplicate</b> entries get 5 points</li>
  </ul>

  <div tuiTitle="m" class="play-header">
    Ready to Play?
  </div>

  <div class="ws-button-group">
    <button class="ws-button" (click)="goToNewGame()">
      New Game
    </button>

    <button class="ws-button outline" (click)="goToJoinGame()">
      Join Game
    </button>
  </div>
</div>
