.how-to {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;

  .instructions-header {
    text-align: center;
  }

  ul {
    list-style-type: "→  ";
    font-size: 1rem;
  }

  li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
    line-height: 1.75rem;
    color: var(--tui-text-primary);
  }

  .play-header {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }

  .ws-button-group {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

@media only screen and (max-width: 768px) {
  .how-to {
    width: 60%;

    .ws-button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .how-to {
    width: 75%;
  }
}

